@using Assingment1.Pages.Comp
@page "/"
<div class="flex justify-center">
    <div class="lg:w-10/12 p-4">
        <div class="container p-0">
            <div class="row m-0">
                <div class="col-4 ">
                    <HomePageTotalAddedAdult></HomePageTotalAddedAdult>
                </div>
                <div class="col-4">
                    <HomePageTotalAddedChildren></HomePageTotalAddedChildren>
                </div>
                <div class="col-4">
                    <HomePageTotalAddedPets></HomePageTotalAddedPets>
                </div>
            </div>
            <div class="col-12 px-4">
                <HomePageStatistic></HomePageStatistic>
            </div>
        </div>
    </div>
</div>