<CascadingValue Value="this">

    <div class="flex-row">
        <div class="col-12 nav border-bottom m-0">
            <div class="nav-item">
                <NavLink class="nav-link" href="@GetLink("")" Match="NavLinkMatch.All">
                    <span class="" aria-hidden="true"></span> Adults
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@GetLink("Children")" Match="NavLinkMatch.All">
                    <span class="" aria-hidden="true"></span> Children
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@GetLink("Pets")" Match="NavLinkMatch.All">
                    <span class="" aria-hidden="true"></span> Pets
                </NavLink>
            </div>
            <div class="nav-item px-3 float-right">
                <NavLink class="nav-link" href="@GetLink("Statistic")" Match="NavLinkMatch.All">
                    <span class="" aria-hidden="true"></span> Statistic
                </NavLink>
            </div>
        </div>
    </div>
</CascadingValue>

@code {

    [CascadingParameter]
    public FamilyDetailed Layout { get; set; }

    public int Id { get; set; }


    public string GetLink(string root)
    {
        Id = Layout.Id;
        return "/Fam/" + Id + "/" + root;
    }

}